@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Inter/static/Inter-Regular.ttf') format('truetype');
}

:root {
  /* font for Title Drakens sked  */
  --font-luckiest: 'Luckiest Guy', cursive;

  /* font for all conntent in the web . this is the generic but on the folder assets/fonts there a other to select when we decide the styles of the texts */

  --font-inter: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font-inter);
  line-height: 1.5;
  font-weight: 400;

  /* Gjorde så att inputfälten blev svarta */
  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url('./assets/bilder/bakgrund.jpg');
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Title drakens sked */
h1 {
  font-family: var(--font-luckiest);
}

/* Images Card */

/* #my-card :deep(.custom-card img-src) {
  height: 50px !important;
  width: 100%;
  object-fit: fill;
} */
